@import "./partials/reset.scss";
@import "./partials/variables.scss";
@import "./partials/mixins.scss";
@import "./partials/fonts.scss";

html {
    min-height: 100%;
    background-image: url("../background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}
